*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body{
	font-size: 17px;
	line-height: 1.5;
	color: #222;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
}
main{
	position: relative;
	min-height: 768px;
}

.price{
	background-color: gray;
	height: 50px;
	font-weight: bold;
	padding-left: 10px;
}

.kroner {
	font-size: 18px;
}

.circle {
	border: 1px solid #f2f2f2;
	border: 1px solid red;
	width: 750px;
	height: 500px;
	padding: 3rem;
	border-radius: 100%;
	margin: 100px auto;
	position: relative;
}
.group{
	position: absolute;
	bottom: 100px;
	left: 25px;
}

.price .btn{
	width: 50px;
	height: 50px;
}

.ipad{
	position: relative;
}

.price-menu{
	height: 768px;
	background-color: orange;
	position: absolute;
	top: 0;
	left: 0px;
	display: none;
}

.services-menu{
	height: 768px;
	background-color: green;
	position: absolute;
	top: 0;
	right: 0px;
	/*display: none;*/
}

footer{
position: absolute;
bottom: 0;
width: 100%;
}

.servicesBtn{
	margin-right: 10px;
	width: 150px;
}