*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body{
	font-size: 17px;
	line-height: 1.5;
	color: #222;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
}

#toggle {
	width: 100px;
	height: 100px;
	background: #ccc;
}

.price{
	background-color: #ccc;
	height: 50px;
	font-weight: bold;
	padding-left: 10px;
}

.kroner {
	font-size: 18px;
}

.circle {
	border: 1px solid #f2f2f2;
	border: 1px solid red;
	width: 500px;
	height: 500px;
	padding: 3rem;
	text-align: center;
	border-radius: 100%;
	margin-bottom: 3rem;
	position: relative;
}
.group{
	position: absolute;
	bottom: 100px;
	left: 100px;
}

.price .btn{
	width: 50px;
	height: 50px;
}

.ipad{
	position: relative;
}

.price-menu{
	height: 580px;
	background-color: orange;
	position: absolute;
	top: 0;
	left: 15px;
}

.services-menu{
	height: 580px;
	background-color: green;
	position: absolute;
	top: 0;
	right: 15px;
}

.main-footer .btn{
	
}

.main-footer{


}

.arrow{
	
}

.price-menu{

}