*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body{
	font-size: 17px;
	line-height: 1.5;
	color: #222;
	font-family: "Roboto", sans-serif;
	max-height: 600px;
}

/*remove default orange focus border*/
button:focus,
input:focus{
	outline: none;
}

/*CENTER CONTENT*/


.circle {
	border: 2px dashed #bababa ;
	width: 485px;
	height: 485px;
	padding: 3rem;
	border-radius: 100%;
	margin: 20px auto 20px;
	position: relative;
}



.content{
	position: absolute;
	bottom: 100px;
	left: 70px;
}

.content input {
	width: 220px;
	height: 60px;
	border-radius: 25px;
	border: 8px solid #efeded;
	padding-left: 10px;
}

.shadowMe{
	-webkit-box-shadow: -11px 3px 5px -4px rgba(189,189,189,1);
	-moz-box-shadow: -11px 3px 5px -4px rgba(189,189,189,1);
	box-shadow: -11px 3px 5px -4px rgba(189,189,189,1);
}



/*SERVICE MENUS*/

.services-leftmenu{
	width: 130px;
	height: 525px;
	position: relative;
	text-align: center;
	/*overflow-y: scroll;*/
	overflow: hidden;
}

.services-leftmenu img {
	margin-top: 35px;
}

.serviceIcon{
	width: 130px;
	height: 175px;
	border-bottom: 1px solid #d8d8d8;
}

.services-leftmenu div#navup,
.services-leftmenu div#navdown{
	width: 130px;
	height: 30px;
	/*background-color: red;*/
	text-align: center;
	position: absolute;
	left: 0;
}

.services-leftmenu div#navup {
	top: 0;
}

.services-leftmenu div#navdown {
	bottom: 0;
}

.services-rightmenu{
	width: 130px;
	height: 530px;
	background-color: white;
	display: none;
}



/*FOOTER*/
/*CURRENT SOLUTION*/
.currentprice{
	height: 525px;
	width: 254px;
	background-color: #af5aff;
	position: absolute;
	top: 0;
	left: 130px;
	display: none;
	overflow-y: scroll;
}


.menuheader{
	color: white;
}

.menuheader h2{
	font-size: 18px;
}

.myservice {
	margin-bottom: 20px;
}

.myservice input{
	width: 58px;
	height: 36px;
	border-radius: 10px;
	border: none;
	padding-left: 15px;
}

.servicename {
	font-size: 15px
}

.serviceprice{
	float: right;
}


/*SOLUTION 1*/
.price-solution1{
	height: 525px;
	width: 254px;
	border-right: 1px solid white;
	border-left: 1px solid white;
	background-color: #af5aff;
	position: absolute;
	top: 0;
	left: 384px;
	display: none;
}

/*SOLUTION 2*/
.price-solution2{
	height: 525px;
	width: 255px;
	background-color: #af5aff;
	position: absolute;
	top: 0;
	left: 638px;
	display: none;
}


.SettingsBox{
	height: 225px;
	width: 59px;;
	position: absolute;
	top: -225px;
	left: 905px;
	display: none;
}

.SettingsBox button{
	border-bottom: 1px solid #af5aff;
}

.pricebox{
	width: 250px;
	height: 75px;
	/*background-color: gray;*/
	display: inline-block;
	vertical-align: top;
	line-height: 70px;
}

.pricebox .pricetext{
	float: left;
	padding-left: 10px;
	color: white;
	font-size: 16px;
}

.pricebox .kroner {
	font-size: 22px;
	font-weight: bold;

}

.pricebox img{
	float: right;
	margin-right: -5px;
	cursor: pointer;
}

#logo{
	display: inline-block;
	width: 130px;
	height: 75px;
	margin-right: -5px;
	border-right: 1px solid #af5aff;
}

.footerbtn {
	width: 60px;
	height: 75px;
	border: none;
	border-left: 1px solid #af5aff;
	background-color: #9b0ce4;
	color: white;
}

footer{
	background-color: #9b0ce4;
	height: 75px;
}